.contact-us {
  margin: 3rem auto;
  width: 80%;
}

.discuss {
  margin: 1.5rem auto;
  width: fit-content;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #0b0c0c;
  font-family: "Poppins";
}

.discuss span {
  color: #0e4da4;
}
.cont {
  margin: 0 auto;
}
.something {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #323433;
}

@media (max-width: 769px) {
  .discuss {
    font-size: 28px;
  }
}
@media (max-width: 375px) {
  .discuss {
    font-size: 22px;
    margin: 0.5rem auto;
    line-height: 28px;
  }
}

.form-info{
    display: flex;
    justify-content: space-between;
}

.info div{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.info{
    display: flex;
    gap:3rem ;
    flex-direction: column;
}

.submit{
    width: 70%;
    border: 1px solid;
    display: flex;
    justify-content: flex-end;
}

.form{
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid;
    /* margin: 0 auto; */
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input div{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.input input{
    width: 50%;
    border: 1px solid  #0e4ca455;
    height: 56px;
    border-radius: 5px;
    padding-left: 1rem;
}

.input input::placeholder{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.008em;
    color: #92929D;    
    font-family: 'Poppins';
}

