::-webkit-scrollbar {
  width: 15px;
  height: 10px ;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 100vw;
  margin-block: .5rem;

}
::-webkit-scrollbar-thumb {
  background-color: #fccfe5;
  border-radius: 100vw;
}
body::-webkit-scrollbar-thumb {
  border: 2px solid white;
}

.background {
  background: url(../Images/background.png) no-repeat center center/cover;
}

.animation-main {
  animation-name: prop;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  position: relative;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
}

@keyframes prop {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0px;
  }
}

main {
  width: 80%;
  margin: 6rem auto;
  height: 78vh;
}

.wlcm-main,
.what,
.customer {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(90deg, #d500f9 0%, #ff1744 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-left: 3px solid #d500f9;
  border-right: 3px solid #ff1744;
  width: fit-content;
  padding: 0 5px 0 5px;
}

.ingoga,
.experts {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 60px;
  line-height: 76px;
  margin-top: 1rem;
}
.ingoga span:nth-of-type(1),
.experts {
  color: #0e4da4;
}
.ingoga span:nth-of-type(2) {
  color: #ff1744;
}

.digital-main {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #554b4b;
  margin-bottom: 2em;
  margin-top: 1.5rem;
}

.link-main {
  font-family: "Poppins";
  background: #0e4da4;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 0.7rem 2rem;
}

.link-main:hover {
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-one-main {
  width: 50%;
}
.div-two-main {
  width: 50%;
  display: grid;
  justify-content: center;
  align-content: flex-end;
  padding-left: 10rem;
  padding-bottom: .5rem;
}

@media (max-width: 1180px) {
  main,
  .contact-us {
    width: 90%;
  }
}

@media (max-width: 992px) {
  main,
  .contact-us {
    width: 93%;
  }
  .background {
    background: url(../Images/background2.png);
  }
  .div-one-main {
    width: 53%;
  }
  .div-two-main {
    width: 30%;
    padding-left: 5rem;
  }
}
@media (max-width: 930) {
  main {
    width: 70%;
  }
}
@media (max-width: 840px) {
  main {
    width: 95%;
  }
  .div-two-main img {
    padding-left: 10rem;
  }
}

@media (max-width: 769px) {
  .wlcm-main,
  .what,
  .customer,
  .experts,
  .linking,
  .work {
    margin: 0 auto;
  }
  .background {
    background: #fce6f8;
  }
  main {
    flex-direction: column;
    width: 85%;
    margin: 3rem auto;
    justify-content: center;
  }
  .div-one-main {
    height: fit-content;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .ingoga {
    flex-direction: row;
    margin: 0 auto;
    gap: 0.5rem;
  }
  .div-two-main {
    width: 100%;
    padding: 0;
  }
  .div-two-main img {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 740px) {
  .ingoga,
  .experts {
    font-size: 38px;
    margin-top: 0;
  }
  .digital-main {
    margin-top: 0;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
}
@media (max-width: 452px) {
  .ingoga {
    font-size: 28px;
    margin-top: 0;
  }
  .digital-main {
    margin-top: 0;
    font-size: 18px;
    line-height: 25px;
  }
  main {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 390px) {
  .ingoga {
    font-size: 24px;
  }
}
