.nav-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(90deg, #d500f9 0%, #ff1744 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 3px solid;
  padding-bottom: 2px;
  border-image: linear-gradient(90deg, #d500f9 0%, #ff1744 100%) 5;
}

.nav-links {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000;
}
.nav-links:hover {
  color: #263238;
}
header {
  width: 80%;
  margin: 0 auto;
}

nav ul {
  gap: 3rem;
}
@media (max-width: 1180px) {
  header , .testimony {
    width: 90% !important;
  }
}

@media (max-width: 992px) {
  header , .testimony {
    width: 93%;
  }
  nav ul {
    gap: 2rem;
  }
}
@media (max-width: 840px) {
  header , .testimony {
    width: 95% ;
  }
  nav ul {
    gap: 1rem;
  }
  nav li:nth-of-type(3) {
    display: none;
  }
}
@media (max-width: 580px) {
  nav li {
    display: none;
  }
  .nav-image {
    width: 100px;
  }
  main{
    margin-top: 3rem !important;
  }
}

.nav-back {
    background: #FCE6F8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 1s;
  z-index: 1;
}
@media (max-width: 330px) {
  .nav-image {
    margin-top: 5px;
    width: 80px;
  }
}